body{
    background-image:url(/img/back.jpg);
    font-family: 'Zen Antique', serif;
    background-repeat: no-repeat;
    background-size: cover;
}

.start-btn{
    text-align: center;
    position:relative;
    right:70px;
}

.player2{
    text-align: center;
}

.player1{
    text-align: center;
}

.count{
    text-align: center;
}

.round{
    text-align: right;
    margin-right: 200px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    color: #000000;
    font-size: 30px;
    text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.4);
    font-weight: bold;
}
button{
    font-size:20px;
    width:150px;
}
div.hit-btn{
    margin-bottom:50px;
    margin-left:50px;

}
div.stand-btn{
    margin-left:50px; 
}

div.judge{
    position:absolute;
    margin-left:750px;
}
.dealercard1{
    width: 200px;
    height: auto;
}

.round{
    right: 0px;
    bottom: 0px;

}
