body{
    background-color: rgb(19, 163, 0);
}

.start-btn{
    text-align: center;
    position:relative;
    right:70px;
}
img{
    width: 200px;
    height: auto;
}
.player2{
    margin-left: 40%;
}
.deck{
    margin-left:20%;
}