body{
    background-color: rgb(19, 163, 0);
}
h1{
    text-align:center;
    padding-top: 150px;
    font-size: 500%;
}

button{
    position:absolute;
    box-align: center;
    font-size: 200%;
}
.start-btn{
    text-align: center;
    position:relative;
    right:100px;
}